@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,900&display=swap');
.viewport{
  height: 75vh;
}
/* --------------------------------HOME--------------------------------------- */


/* -----------------NAVBAR HEADER BLOG---------------------------------------- */
.navblog{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.743);
  width: 80%;
  height: 3em;
  margin: 0 auto;
  padding-top: 10px;
}

@media screen and (max-width: 749px){
  .navblog{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

}
.navblog a{
text-decoration: none;
color: white;
font-weight: bolder;
font-size: 0.9em;
font-family: 'Roboto', sans-serif;
}
.home, .articles, .aboutme{
  position: relative;
  margin-top: 1.7em;
  background-color: rgb(234, 69, 105);
  border-radius: 5px;
  text-align: center;
  box-shadow: rgb(121, 18, 56) 0px 4px 0px 0px;
  padding-top: 0.3em;
  margin-bottom: 2em;
  background-repeat: no-repeat;
  width: 6em;
  height: 1.5em;
  border: none;
  
  transition: all .3s ease-in-out;
  z-index: 1;
  overflow: hidden;
}
.home::before {
  content: "";
  background-color: rgb(50, 248, 126);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}
.aboutme::before {
  content: "";
  background-color: rgb(50, 86, 248);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}
.articles::before {
  content: "";
  background-color: rgb(37, 3, 10);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
  transform: rotate(90deg);
}

.home:hover::before, .articles:hover::before, .aboutme:hover::before {
  width: 100%;
}
/* --------------------NAVBAR HEADER BLOG--FIN---------------------------------- */

.leftBlog{
  position: relative;
  width: 50%;
  height: 100%;/* ou 100vh */
  margin-top: 1em;
  padding: 3em 2em 1em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
            linear-gradient(90deg, transparent 0%, #48abe0 100%);
border-radius: 8px;
}
  .left__paragraph {
  border-radius:70px 70px 30px 40px;
  font-size: 0.9em;
  text-align: right;
  padding: 1em 4% 1em 5%;
  background-color: rgba(0, 0, 0, 0.694);
}
  .left__subtitle {
  font-style: italic;
  font-size: 1em;
  font-weight: 400;
}

    .left__subtitle-strong {
  font-style: normal;
  font-size: 1.6em;
  font-weight: 700;
}

.wrapperBlog{
  display: flex;
}
.rightBlog{
  width: 50%;
  height: 620px;
  margin-top: 1em;
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
            linear-gradient(90deg, #ff0000 3%, transparent 100%);
border-radius: 8px;
padding: 9px;
overflow: scroll;
}

.right__title {
  padding: 0.5em 1em;
  margin: 0;
  font-size: 2em;
  line-height: 1;
  color: #fff;
  text-shadow: 4px 0px 3px rgba(163, 0, 0, 0.8);
  font-weight: bold;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 5px, transparent 5px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 5px, transparent 5px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 5px, transparent 5px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 5px, transparent 5px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 6px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 6px) no-repeat,
            linear-gradient(90deg, transparent 0%, #e04848 100%);
border-radius: 8px;
padding: 7px;
}

.post {
  width: 50%;
  padding: 1.5em;
  border-right: 0.1em solid #7b0000;
  border-bottom: 0.05em solid #0d138875;
  font-size: 0.9em;
}

.post--solo {
  width: 100%;
}

.post__meta {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: grey;
  margin: 0.6251em 0;
}

.post__author-icon {
  width: 5em;
}

.post__author {
  color: black;
  font-weight: 700;
}
.post_author_datetime{
  padding-left: 0.2em;
}

.post__link {
  font-weight:bolder;
  text-decoration: underline;
  transition: 0.9s all;
  color: steelblue;
}

.post__link:hover {
  text-decoration: none;
  opacity: 0.8;
}

.post__category {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-radius: 2px;
  text-align: center;
  font-size: 0.8em;
  font-weight: 700;
  padding: 3px 6px;
  background-color: darkgrey;
  margin-bottom: 0.5em;
}

.post__category:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.post__category--color-retro {
  background-color: rgba(234, 69, 105, 0.658);
  border-radius: 5px;
  text-align: center;
  box-shadow: rgb(121, 18, 56) 0px 4px 0px 0px;
  padding-top: 0.3em;
  margin-bottom: 2em;
  background-repeat: no-repeat;
  width: 6em;
  height: 1.5em;
  border: none;
}

.post__category--color-news {
  background-color: rgba(234, 69, 105, 0.658);
  border-radius: 5px;
  text-align: center;
  box-shadow: rgb(121, 18, 56) 0px 4px 0px 0px;
  padding-top: 0.3em;
  margin-bottom: 2em;
  background-repeat: no-repeat;
  width: 6em;
  height: 1.5em;
  border: none;
}

.post__category--color-critique {
  background-color: rgba(77, 69, 234, 0.658);
  border-radius: 5px;
  text-align: center;
  box-shadow: rgb(5, 3, 146) 0px 4px 0px 0px;
  padding-top: 0.3em;
  margin-bottom: 2em;
  background-repeat: no-repeat;
  width: 6em;
  height: 1.5em;
  border: none;
}
/* ---------------------------------HORLOGE----------------------------------- */
.wrap-clock {
  position: relative;
  background: rgba(93, 133, 93, 0.032);
  border: 2px solid darkred;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 2em;
}
.minute,
.heure {
  position: absolute;
  height: 100px;
  width: 6px;
  background: black;
  margin: auto;
  top: -27%;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: bottom center;
  transform: rotate(0deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.minute {
  position: absolute;
  height: 130px;
  width: 4px;
  top: -38%;
  transform: rotate(90deg);
}
.seconde {
  position: absolute;
  height: 82px;
  width: 2px;
  margin: auto;
  left: 0;
  bottom: 0;
  right: 0;
  top: -26%;
  background: #ff4b3e;
  transform-origin: bottom center;
  transform: rotate(180deg);
}
.point {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  background: white;
  border: 2px solid #1b1b1b;
  border-radius: 50%;
}


/* --------------------------------ARTICLES-------------------------------------- */

.postOnePageArticle{
  padding: 1em;
  text-align: justify;

}

.retourBlog {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  background-color: #1b1b1b10;
  color: #144cff;
  font-size: 18px;
  border-radius: 0px;
  width: 200px;
  height: 40px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}

.retourBlog::before, .retourBlog::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #144CFF;
  transition: .3s;
}

.retourBlog::before {
  top: 0;
}

.retourBlog::after {
  bottom: 0;
}

.retourBlog:hover::before {
  transform: translateX(-100%);
}

.retourBlog:hover::after {
  transform: translateX(100%);
}
.retourBlog a{
  color: rgb(0, 0, 0);
  font-weight: bolder;
  text-decoration: none;
}